body {
  /* font-family: Montserrat, sans-serif; */
  margin: 0;
  /* padding: 0; */
  /* padding-left: -100px; */
  overflow-x: hidden; 
}

header {
  width: 100%;

}

nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  /* padding: 20px; */
  max-width: 1200px;
  margin: 0 auto;
  /* padding: 20px 20px 0;  */
  padding: 40px 12px 0px; 
  height:2px;
}

.menu-left span {
  /* font-weight: bold; */
  font-family: 'Montserrat';
  /* margin-right: 40px; */
  padding-left: 80px;
}

.menu-right a {
  text-decoration: none;
  color: #D3D3D3;
  margin-left: 10x;
  padding-right:70px;
  /* padding-left: px; */
  /* margin-right:auto; */
  /* gap:-40px */
}

/* .menu-right a:first-child {
  margin-left: 0; /* removing left margin 
} */


.menu-right a:hover {
  color: #333;
}
.hero-section {
  height: 800px;
  /* background-image: url("C:/Users/Dell/Desktop/ishi usc/web-hw1/images/lawyer.jpg"); */
  background-image: url("images/lawyer.jpg");
  /* width: 1600px; */
  background-position: center;
  /* background-size: 1600px 853px;  */
  display: flex;
  align-items: center;
  /* padding: 50px; */
  background-repeat: no-repeat;
  margin-top: 70px;
  overflow: hidden;
   
}

.signup-box {
  background-color: #0B3C5D;
  color: white;
  padding: 40px;
  width: 280px;
  max-width: 100%;
  margin-left: 200px;
  
}

.signup-box h2 {
  margin: 0;
  margin-bottom: 10px;
}

.signup-box p {
  color: #ffdd00;
  /* margin-bottom: 20px; */
  font-weight: lighter;
  font-size: 12px;
  font-style: italic;
}

.signup-box input {
  width: 90%;
  padding: 10px;
  margin-bottom: 20px;
  border: none;
  font-size: 16px;
}

.signup-box button {
  background-color: #ffdc14;
  border: none;
  padding: 10px;
  width: 52%;
  color: black;
  font-size: 16px;
  cursor: pointer;
}

.features-section {
  display: flex;
  justify-content: space-around;
  padding: 100px 8%;
  background-color: #f9f9f9;
  box-sizing: border-box; 
  gap: 5px;
  /* margin-bottom: 20px; */
}

.feature {
  width: 25%;
  text-align: left;
  display: flex;
  flex-direction: column;
  justify-content: center;
}



.feature p {
  font-size: 12px;
  color: #666;
  line-height: 1.6;
  /* font-family: Arial, sans-serif; */
  
}

.testimonial-section {
  text-align: center;
  padding: 129px;
  background-color: #f1f1f1;
}

.testimonial-section blockquote {
  font-size: 40rem;
  color: #333;
  margin-bottom: 20px;
}

.testimonial-section .author {
  font-size: 14px;
  margin-top: 10px;
}

.author-name {
  color: black; /* "John Doe" in black */
  font-weight: bold; /* You can remove this if you don't want bold */
}

.author-title {
  color: grey; /* Rest of the text in grey */
}

.pricing-section {
  position: relative;
  text-align: center;
  padding: 60px 0;
  /* background-image: url("C:/Users/Dell/Desktop/ishi usc/web-hw1/images/glasses.png"); */
  /* background-image: url("images/glasses.png");      */
  background-size: cover;
  background-position: center;
  background-attachment: fixed;
  filter: none;
  isolation:isolate;
  background-color: rgba(215, 215, 215, 0.2); 
;
 

}


.pricing-section::before {
  content: "";
  position: absolute;
  /* top: 0;
  left: 0; */
  width: 100%;
  height: 100%;
  filter: grayscale(); 
  background-image:  url('images/glasses.png');
  /* background-image: linear-gradient(0deg, white, white),url("images/glasses.png"); */
  /* background-color: #fff;
  background-blend-mode: multiply, luminosity; */


  /* filter: grayscale(100%)brightness(1.2);  */
  /* opacity: 0.2;  */
  background-size: cover;
  background-position: center;
  background-attachment: fixed;
  /* background: rgba(215, 215, 215, 0.5); */

  z-index: 0; 
  inset:0;
  opacity: 0.3;
  /* background-color: rgba(255, 255, 255, 0.4);  */

}



.pricing-cards {
  position: relative;
  z-index: 2;
  display: flex;
  justify-content: center;
  gap: 50px;
  isolation:isolate;


}

.pricing-card {
  position: relative;
  z-index: 5;
  background-color: white;
  padding: 30px;
  /* height: 400px; */
  border: 1px solid #ddd;
  /* box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1); */
  width: 250px;
  text-align: center;
  width: 17.5%;
  height: 45vh; /* Keep the height */
  background-image: 
      linear-gradient(0deg, #e0e0e0 1px, transparent 1px), 
      linear-gradient(90deg, #e0e0e0 1px, transparent 1px), 
      linear-gradient(45deg, transparent 49.5%, #e0e0e0 49.5%, #e0e0e0 50.5%, transparent 50.5%), /* Very light grey */
      linear-gradient(135deg, transparent 49.5%, #e0e0e0 49.5%, #e0e0e0 50.5%, transparent 50.5%);

  background-size: 
      15px 15px, 
      15px 15px, 
      30px 30px,
      30px 30px; 
  background-position: 
      0 0,
      0 0,
      0 0,
      0 0;

}





.pricing-card h3 {
  font-size: 22px;
  margin-bottom: 20px;
  color:black;
  position: relative;
  z-index: 3; 
  isolation:isolate;

}

.pricing-card ul {
  list-style-type: none;
  padding: 0;
  margin-bottom: 30px;
  isolation:isolate;

}

.pricing-card ul li {
  font-size: 12px;
  font-family: 'Montserrat';
  margin-bottom: 10px;
  color: #555;
  isolation:isolate;

}

.price {
  font-size: 28px;
  font-weight: bold;
  margin-bottom: 20px;
  color: #333;
  isolation:isolate;

}

.price span {
  display: block;
  font-size: 26px;
  color: black;
  font-weight: lighter;
  font-family: Arial, Helvetica, sans-serif;
  /* isolation:isolate; */

}

.buy-now {
  background-color:#103c5c;
  color: white;
  border: none;
  padding: 19px 25px;
  font-size: 14px;
  /* border-radius: 0px; */
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.buy-now:hover {
  background-color: #00264d;
}

.promo-section {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 60vh;
  padding-bottom: 20px;
  padding-top: 10px;
  /* background-image: url("C:/Users/Dell/Desktop/ishi usc/web-hw1/images/notebook.jpg"); */
  background-image: url("images/notebook.jpg");

  background-size: cover;
  background-position: center 30%;
  background-repeat: no-repeat;
  
  overflow: hidden; 
}

.promo-section::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(26, 72, 112, 0.8);
  z-index: 1; 
}

.promo-content {
  position: relative;
  text-align: center;
  z-index: 2; 
  font-size: 12px;
  color: white;
}

.promo-content h1 {
  /* font-family: , sans-serif;  */
  font-size: 36px;
  /* font-weight: bold; */
  /* color: #fff;
  margin-bottom: 20px; */
}

.promo-content p {
  font-family: Arial, sans-serif; 
  font-size: 11px;
  margin-bottom: 64px;
  /* color: #fff;
  margin-bottom: 30px; */
}

.cta-button {
  background-color: #ffdc14;
  color: #000;
  font-size: 18px;
  padding: 15px 80px;
  border: none;
  border-radius: 5px;
  text-decoration: none;
  /* font-weight: bold; */
  display: inline-block;
  /* transition: background-color 0.3s ease, color 0.3s ease; */
}

footer {
  /* background-color: #121212;
  text-align: center;
  padding: 20px; */

  background-color: #1E2A3B  ;
  text-align: center;
  padding: 80px 0;
}

footer h2 {
  font-size: 0.9rem;
  margin-bottom: 10px;
}

footer p {
  margin-bottom: 20px;
  font-size: 0.6rem;
  font-family: 'Montserrat';
}

.social-icons a {
  margin: 0 10px;
  display: inline-block;
}

.social-icons img {
  width: 26px;
  height: 26px;
}

.cta-btn {
  background-color: #ffdd00; 
  color: #000; 
  font-size: 12px; 
  padding: 15px 20px; 
  border: none; 
  border-radius: 0px; 
  text-decoration: none; 
  display: inline-block; 
  font-family: 'Montserrat';
  /* transition: background-color 0.3s ease, color 0.3s ease; */
}

